.sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sort p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-right: 48px;
}

#sort {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-right: 55px;
}

.cards {
  border-radius: 0 0 10px 10px;
  width: 380px;
  height: 521px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s;
  margin: 0 0 27px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.card__img {
  width: 380px;
  height: 264px;
}

.cards__content {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  height: 192px;
  background-color: #f3f3f3;
  padding: 29px 33px 29px 29px;
  transition: all 0.3s;
}

.cards:hover {
  transform: scale(1.05);
}

.cards:hover .cards__content {
  background-color: transparent;
}

.card__buy {
  width: 100%;
  height: 65px;
  background-color: #6ebbd3;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.fa-chevron-up {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 50%;
  left: 95%;
  padding: 23.7px 21px 24.7px 20px;
  background-color: #6ebbd3;
}

.load__more {
  padding: 24px 129px;
  background-color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 2px solid rgb(83, 212, 133);
  border-radius: 15px;
  cursor: pointer;
}

.load__more:hover {
  color: rgb(7, 10, 185);
  font-weight: 600;
  background-color: rgb(166, 235, 166);
  transform: scale(1.05);
  transition: all 0.3s;
}

.load__more:focus {
  border: none;
}

/* Subscribe */

.subscribe__data {
  width: 45%;
  height: 100%;
  padding: 83px 50px 92px 80px;
}

.subscribe h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
  margin-bottom: 26px;
}

.subscribe p {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 91.2%;
  color: #ffffff;
}

.subscribe__forms {
  width: 55%;
  height: 100%;
}

.forms {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 91px 0px 119px 0px;
}

.sub__input {
  display: flex;
  position: relative;
  width: 300px;
  height: 65px;
  margin: 0 16px 24px 0;
  border-radius: 10px;
}
.sub__input input {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  outline: none;
  font-size: 14px;
  border-radius: 10px;
}

.sub__input .icons {
  display: flex;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.sub__input .icons span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  display: none;
}

.icon1 {
  color: #e74c3c;
  border: #e74c3c;
  margin-right: 5px;
  border-radius: 50%;
  border: 2px solid;
  padding: 2px 0 0 8px;
}

.icon2 {
  color: #27ae60;
  border: #27ae60;
  border-radius: 50%;
  border: 2px solid;
  padding: 2px 0 0 3px;
}

.error__text {
  position: relative;
  position: absolute;
  top: 45px;
  background: #e74c3c;
  color: #fceae8;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  display: none;
}

.error__text:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #e74c3c;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}

.sub__btn {
  width: 250px;
  height: 65px;
  background: #6ebbd3;
  border-radius: 10px;
  margin-right: 80px;
  color: #fff;
}

.check__b {
  width: 18px;
  height: 18px;
  background: #6ebbd3;
  border-radius: 3px;
  margin-right: 16px;
}

.check__span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .cards {
    width: 50%;
    background-repeat: no-repeat;
    padding: 0 10px;
  }

  .card__img {
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .load__more {
    width: 100%;
    font-size: 20px;
  }

  .subscribe__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 0;
  }

  .subscribe__data h2 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .subscribe__forms {
    width: 100%;
    height: 50%;
  }

  .forms {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
  }

  .error__text {
    position: absolute;
    top: -42px;
    left: 9%;
    font-size: 20px;
  }

  .sub__input {
    width: 100%;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .sub__input input {
    font-size: 20px;
  }

  input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 4;
  }

  .sub__btn {
    width: 50%;
    font-size: 20px;
    padding: 8px 0 0 0;
  }

  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }

  .check__span {
    font-size: 20px;
  }

  .check__span {
    margin-right: 100px;
  }
}
